# Python caches
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Mac System
.DS_Store

# Large Data & Audio Files
data/
temp_stems/
results/
*.wav
*.mp3
*.png
*.jpg

# Models (GitHub has 100MB limit)
models/
*.pth

# Environment
.env
venv/
env/
.anaconda/